.button-box {
    margin: 10px 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price {
    margin: 0 10px;
    color: black;
    display: inline-block;
}

.input,
.button {
    font-size: 1.5rem;
    width: 3.5rem;
    height: 2rem;
}

.input {
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
    border: 1px solid black;
}

.button {
    border-radius: 0 10px 10px 0;
}