.list-box {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.label,
.desc,
.price {
    margin: 0;
}

.label {
    font-size: 2rem;
}

.price {
    color: red;
}

.desc {
    font-style: italic;
}