.foodlist {
    width: 90%;
    max-width: 80rem;
    margin: 32px auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.foodlist>ul {
    list-style: none;
    padding: 0;
}