.header {
    width: 100%;
    height: 10%;
    background-color: #FD8D14;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.header>h1 {
    display: inline-block;
    color: white;
    width: 20rem;
    text-align: center;
    margin: 0;
}

.button {
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: white;
    color: black
}

.count {
    background-color: rgb(33, 0, 151);
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    color: white;
    display: inline-block;
}

.bump {
    animation: scaleAnimation 300ms;
}

@keyframes scaleAnimation {

    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.7);
    }

    30% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1);
    }
}