.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    height: 25%;
}

.grid {
    display: grid;
    width: 20%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.name {
    font-size: 2rem;
    width: 40%;
}

.sum {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #862B0D;
}

.amount {
    /* grid-column: span 1; */
    text-align: center;
    font-size: 2rem;
}

.amount-label {
    grid-column: span 3;
    font-size: 1.5rem;
}

.button {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;

}

.plus-button {
    border-radius: 10px 0 0 10px;
    grid-column: span 2;
}

.minus-button {
    border-radius: 0 10px 10px 0;
    grid-column: span 2;
}