.order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 90%;
    height: 50%;
    background-color: #FFE17B;
    padding-top: 0;
}

.order ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 90%;
}

.background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.order-buttons {
    margin-top: 5px;
    display: flex;
    height: 10%;
    justify-content: space-between;
}

.total {
    margin: 0;
    margin-right: 50px;
    flex: 1;
    text-align: right;
    font-size: 2rem;
    color: black;
}

.total span {
    color: red;
}

.submit {
    width: 20%;
    font-size: 1.3rem;
}

.button {
    background-color: #FFF4F4;
    color: #606C5D;
    border: solid 1px;
}

.button:hover {
    background-color: #F97B22;
}